* {
    font-family: Verdana;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    flex: 1;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #1f2937;
}

header .upper {
    display: inline-flex;
    align-items: end;
    width: 70%;
    margin-top: 1.5%;
}

header .upper h1 {
    font-size: 24px;
    padding-left: 1%;
    color: #F9FAF8;
}

header .upper nav {
    display: inline-flex;
    justify-content: right;
    width: 30%;
}

header .lower {
    display: inline-flex;
    width: 70%;
    margin-top: 6.5%;
    margin-bottom: 6.5%; 
}

header .lower h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 1.5%; 
    color: #F9FAF8;
}

header .lower p {
    font-size: 18px;
    padding-left: 1.5%;
    color: #E5E7EB;
}

header .lower button {
    width: 22.5%;
    height: 12.5%;
    border-radius: 8px;
    margin-left: 1.5%;
    margin-top: 3.0%;
    font-weight: 900;
    color: #F9FAF8;
    background-color: #3882f6;
}

header .lower button:hover {
    color: #3882f6;
    background-color: #F9FAF8;
}

header .lower img {
    width: 450px;
    height: auto;
    border-radius: 10px;
}

nav ul {
    display: inline-flex;
    max-width: 90%;
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: #E5E7EB;
}

nav li a:hover {
    text-decoration: none;
    color: white;
}

.one {
    size: 100%;
    height: 450px;
    background-color: #F9FAF8;
}

.one h1 {
    text-align: center;
    width: 100%;
    height: min-content;
    padding-top: 4%;
    padding-bottom: 4%;
    color: #1f2937;
}

.one section {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 4%;
}

.one figure {
    max-width: fit-content;
}

.one figure img {
    width: 200px;
    height: auto;
    border-radius: 16px;
    border: 4px solid #3882f6;
}

.one figure p {
    text-align: center;
    width: 200px;
    height: auto;
    margin-top: 1%;
}

.two {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #E5E7EB;
}

.two article {
    max-width: 47%;
}

.two #cite {
    font-size: 24px;
    font-style: italic;
    height: fit-content;
    color: #1f2937;
}

.two #author {
    font-weight: bold;
    font-size: 16;
    text-align: right;
    padding-right: 2%;
    color: #1f2937;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: #F9FAF8;
}

.three section {
    display: inline-flex;
    justify-content: space-between;
    max-width: 71%;
    border-radius: 10px;;
    background-color: #3882f6;
}

.three article {
    max-width: 48%;
    margin: 4.5%;
    margin-left: 10%;
    margin-right: 0;
    color: #F9FAF8;
}

.three article h1 {
    font-size: 20px;
}

.three article p {
    font-size: 14px;
}

.three button {
    max-width: 15%;
    margin: 4.5%;
    margin-left: 0;
    margin-right: 10%;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882f6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

.three button:hover {
    color: #3882f6;
    background-color: #F9FAF8;
    border: 2px solid #3882f6;
}

footer {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    color: #F9FAF8;
    background-color: #1f2937;
}